/* 
  Este archivo contiene todo el CSS relacionado con
  el comportamiento y visualización del menu
  desktop y mobile. Los elementos aquí heredan
  CSS de UI-elements.css
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  padding-bottom: 0;
  background-color: var(--second-color);
  max-width: 1240px;
}

/* Mobile Menu */
.logo {
  width: 36px;
  height: 36px;
}

.line {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000;
  margin: 0;
  margin-bottom: 3px;
  border: none;
  position: relative;
}

#hamburger-input {
  opacity: 0;
}

#hamburger-input:checked ~ .hamburger .l-middle {
  opacity: 0;
  transition: opacity var(--transition-delay) ease;
}

.l-top, .l-bottom {
  transition: top, transform var(--transition-delay);
}

.l-middle {
  transition: opacity var(--transition-delay);
}

#hamburger-input:checked ~ .hamburger .l-top {
  transform: rotate(45deg);
  top: 5px;
}

#hamburger-input:checked ~ .hamburger .l-bottom {
  transform: rotate(-45deg);
  top: -5px;
}

#hamburger-input:checked ~ .nav-list-mobile {
  transform: translateX(0);
}

.nav-list a{
  margin-left: 2rem;
}

.nav-mobile {
  display: none;
}

.nav-list-mobile {
  display: none;
  transform: translateX(100%);
  transition: transform var(--transition-delay);
}

.nav-mobile label:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.nav-list-mobile {
  display: none;
  position: fixed;
  top: 3.6rem;
}

.nav-list-mobile a{
  width: 100%;
  background-color: var(--dark-color);
  color: var(--second-color);
  margin-left: 0;
  padding: 1rem;
}
#hambuerguer-input {
  opacity: 0;
  z-index: 5;
}

.hamburger {
  display: initial;
  height: auto;
  padding: 0.4rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.nav-list-mobile a:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  cursor: pointer;
}

.nav-list-mobile a:active {
  background: #00F3BB;
}
/* End */

@media (max-width: 1290px) {
  .header {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 603px) {
  .header {
    padding-top: 1rem;
  }
  
  .nav-mobile {
    position: fixed;
    display: initial;
    width: 100%;
    z-index: 99;
  }

  .nav-list {
    display: none;
  }

  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    color: var(--second-color);
    width: 100%;
  }

  .logo {
    width: 24px;
    height: 24px;
  }
}
