.main-container {
  max-width: calc(1240px - 1rem);
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  padding: 7rem 5rem;
}

/* First Section */
section.hello {
  margin: 0 1rem;
}

.p-intro {
  max-width: 628px;
  margin-top: 1rem;
}

.p-intro .mobile {
  display: none;
}

.world {
  text-decoration: line-through;
}

.dot {
  color: var(--dark-color);
}

.main-button {
  margin-top: 1rem;
}

@media (max-width: 571px){
  section {
    padding: 0;
  }

  section.hello {
    margin-top: 2rem;
  }

  .p-intro .desktop {
    display: none;
  }

  .p-intro .mobile {
    display: initial;
  }

  .dot {
    color: inherit;
  }
}
/* End */