/* 
  Este archivo contiene el CSS correspondiente a las secciones
  de la página web (EXCEPTO el header). Vale aclarar que los
  elementos afectados en este archivo, tienen heredados los estilos 
  del archivo UI-elements. La idea aquí es personalizar detalladamente
  los elementos y secciones acorde con el diseño proporcionado.

  Los estilos estan dividos con comentarios que indican
  el inicio y el fin de cada sección.
*/

/* First Section */
.hello-section {
  margin-top: 9rem;
  margin-bottom: 5px;
}

.p-intro {
  max-width: 628px;
  margin-top: 1rem;
}

.p-intro .mobile {
  display: none;
}

.world {
  text-decoration: line-through;
}

.dot {
  color: var(--dark-color);
}

.main-button {
  margin-top: 1rem;
}
/* End */

/* Second Section */
.bg-blue-container {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  padding: 10rem 0;
  clip-path: polygon(0 9rem, 100% 0, 100% calc(100% - 10rem), 0 100%);
  margin: 0;
  max-width: none;
}

.title-episodes {
  color: var(--second-color);
  margin-bottom: 2rem;
}

.episodes-container {
  width: calc(100% + 240px);
  transform: translateX(-120px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.iframe {
  max-width: 584px;
  width: 48%;
  display: inline-block;
  margin-bottom: 72px;
}
/* End */

/* Third Section */
.where-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1041px;
}

.phone-image {
  height: 660px;
  transform: translateY(-10.5rem);
}

.origin-article {
  max-width: 464px;
}
/* End */

/* Fourth section */
.guests-section {
  max-width: none;
  width: 100%;
  margin: 0;
  transform: translateY(-7rem);
}

.guests-title {
  width: auto;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  margin-top: 0;
}

.super-women-container {
  display: flex;
  flex-wrap: wrap;
}

.super-women-container img {
  width: 33.33%;
}
/* End */

/* Fifth section */
.topics-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  transform: translateY(-2rem);
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.topic {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.topic-text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
/* End */

/* Sixth section */
.novelties-section {
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  clip-path: polygon(0 9rem, 100% 0, 100% 100%, 0 100%);
}

.novelties-title {
  color: var(--second-color);
  font-weight: 400;
  margin: 2rem 1rem;
}

.novelties-button {
  margin: 0 16px;
}
/* End */

/* Footer */
.footer {
  padding: 2.5rem 0;
  flex-wrap: wrap;
}

.footer-copyright-text {
  margin: 0;
}

.social-link {
  margin-right: 1.3rem;
  display: inline-block;
}

.social-media-container img {
  width: 18px;
}

.social-link:last-child {
  margin-right: 0;
}
/* End */

@media (max-width: 1250px) {
  .episodes-container {
    width: 100%;
    transform: initial;
  }

  .iframe {
    margin-bottom: 1.5rem;
  }

  .phone-image {
    height: 519px;
    transform: translateY(-7rem);
  }

  .guests-section {
    transform: translateY(-4rem);
  }

  .topics-title {
    margin-top: 0;
    transform: translateY(-1rem);
  }
}

@media (max-width: 1050px) {
  .guests-title {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 14px;
  }
}

@media (max-width: 1000px) {
  .super-women-container img {
    width: 50vw;
  }

  .topics-container {
    justify-content: space-around;
  }
}

@media (max-width: 815px) {
  .origin-article {
    transform: translateY(-6rem);
  }

  .origin-article p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 653px) {
  .iframe {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
  }
  
  .bg-blue-container {
    padding-top: 3.5rem;
    clip-path: polygon(0 2.5rem, 100% 0, 100% calc(100% - 2.5rem), 0 100%);
  }

  .novelties-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    clip-path: polygon(0 2rem, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 603px){
  .hello-section {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .p-intro .desktop {
    display: none;
  }

  .p-intro .mobile {
    display: initial;
  }

  .dot {
    color: inherit;
  }

  .novelties-section {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 475px) {
  .main-button {
    width: 100%;
  }
  
  .super-women-container img {
    width: 100vw;
  }

  .topics-container {
    flex-direction: column;
  }

  .topic {
    width: auto;
    margin-bottom: 42px;
  }

  .footer {
    justify-content: space-around;
  }

  .footer-copyright-text {
    margin-bottom: 1rem;
  }

  .social-media-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .social-link {
    margin-right: 0;
  }
}
